{% extends 'base.html.twig' %}

{% block title %}Créer un client{% endblock %}

{% block body %}
    <div class="justify-content-center">
        <h1 class="mt-3 mb-5 text-center">Ajouter un client</h1> 

        {% include 'customer/form.html.twig' %}

        <div class="d-flex justify-content-end align-items-baseline mt-1 mb-3 pe-4">
            <button class="btn btn-primary">Ajouter</button>
        </div>
    </div>
{% endblock %}
