<div class='container px-5'>
    <label class="form-label">Entreprise</label>
    <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    </div>

    <label class="form-label">Poste</label>
    <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    </div> 

    <label class="form-label">Prénom</label>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Kevin">
    </div>

    <label class="form-label">Nom</label>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Dupont">
    </div>

    <label class="form-label">Adresse e-mail</label>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="kdupont@gmail.com">
    </div>
</div>