{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

    <div class="justify-content-center">
        <h1 class="my-4">Clients</h1>

        {% include 'partials/_alert.html.twig' %}

        {% include 'partials/_paginated-data-table.html.twig' with {'data':paginated_data, 'page':'customer'} %}

        <div class="d-flex justify-content-between align-items-baseline mt-1 mb-3">
            <div class="pagination">{{ knp_pagination_render(paginated_data.items) }}</div>
            <a href="{{ path('app_customer_create') }}">
                <button class="btn btn-primary">Ajouter un client</button>
            </a>
        </div>
    </div>
{% endblock %}
