@import '_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: #fefefe;
}

li.active {
    background-color: $primary;
}

li:hover {
    background-color: $secondary;
    transition: .2s ease-in-out;
}

li.active:hover {
    background-color: $primary;
}