{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <div class="justify-content-center">
        <h1 class="my-4">Entreprises</h1>

        {% include 'partials/_paginated-data-table.html.twig' with {'data':paginated_data, 'page':'company'} %}

        <div class="d-flex justify-content-between align-items-baseline mt-1 mb-3">
            <div class="pagination">{{ knp_pagination_render(paginated_data.items) }}</div>
            <button class="btn btn-primary">Ajouter une entreprise</button>
        </div>
    </div>
{% endblock %}
